{% extends "layout.html" %}

{% block styles %}
    {{super()}}
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
{% endblock %}

{% block title %}
    Dashboard - reviewyourreads
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <span class = "green_big">review</span><span class="blue_big">your</span><span class="red_big">reads</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>           
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarTogglerDemo02">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item bighead_size">
                    {{name}}
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">    
                <li class="nav-item">
                    <a href="/logout" class="nav-link head_size">LOGOUT</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <br><br><br>
    <div class="indexcontent">
        Welcome, {{name}}, to <span class = "green_small">review</span><span class="blue_small">your</span><span class="red_small">reads</span>!<br>
        Here you can search any book that you want to, by it's ISBN, Title, Author or Year of Publication. Go ahead!<br>  
    </div>
    <br><br>
    <h3 class="center">Search for a book!</h3>
    <br>
    <form action='/dashboard/search' method="GET" required>
        <input type="text"  class="center" name="book" autofocus aria-describedby="bookHelp" placeholder="ISBN, Title, Author or Year">
        <h6 class="center">Eg. 0451169514, It, Stephen King or 1986</h6><br>
        <button type="submit" class="center">Search</button>
    </form>
{% endblock %}
